<section class="container">
  {% for todo in todos %}
  <div class="box">
    <div class="columns">
      <div class="column is-1 has-background-info">
        <span class="subtitle level-item has-text-centered is-2 h-100">{{todo.id}}</span>
      </div>
      <div class="column is-9 has-background-light">
        <div class="tags has-addons">
          <span class="tag is-warning is-medium title is-5">Created</span>
          <span class="tag is-danger is-medium">{{todo.created}}</span>
        </div>
        <p class="has-text-justified">
          {{todo.content}}
        </p>
      </div>
      <div class="column is-2">
        <div class="level h-100">
          <form action="" method="post"> {% csrf_token%}
            <button class="button is-warning" formaction=""><i class="fas fa-edit"></i></button>
          </form>
          <form action="" method="post">{% csrf_token%}
            <button class="button is-success" formaction=""><i class="far fa-check-square"></i></button>
          </form>
          <form action="/deletetodo/{{todo.id}}/" method="post">{% csrf_token%}
            <button class="button is-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>